In [17]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [18]:
import numpy as np
import pandas as pd

In [19]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [20]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.7/site-packages (1.3.13)

In [21]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [22]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [23]:
# reflect an existing database into a new model
base = automap_base()
# reflect the tables
base.prepare(engine, reflect=True)

In [24]:
# We can view all of the classes that automap found
base.classes.keys()

['measurement', 'station']

In [25]:
# Save references to each table
measurement = base.classes.measurement
station = base.classes.station

In [27]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

In [35]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

lastdate = session.query(measurement.date).order_by(measurement.date.desc()).first()
lastdate

('2017-08-23')

In [44]:
# Calculate the date 1 year ago from the last data point in the database

oneyear = dt.date(2017,8,23) - dt.timedelta(days = 365)
oneyear

# Perform a query to retrieve the data and precipitation scores

oneyearquery = session.query(measurement.date,measurement.prcp).filter(measurement.date >= oneyear).all()
oneyearquery

# Save the query results as a Pandas DataFrame and set the index to the date column

oneyeardf = pd.DataFrame(oneyearquery, columns = ['date', 'prcp'])
oneyeardf = oneyeardf.set_index('date')
oneyeardf

# Sort the dataframe by date

oneyeardf = oneyeardf.sort_values('date')
oneyeardf

            prcp
date
2016-08-23  0.00
2016-08-23   NaN
2016-08-23  1.79
2016-08-23  0.05
2016-08-23  0.15
...          ...
2017-08-22  0.00
2017-08-23  0.00
2017-08-23  0.00
2017-08-23  0.08
2017-08-23  0.45

[2230 rows x 1 columns]

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [55]:
# Design a query to show how many stations are available in this dataset?

stationsquery = session.query(func.count(station.station)).all()
stationsquery

[(9)]

In [56]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

activestations = session.query(measurement.station, func.count(measurement.station)).group_by(measurement.station).order_by(func.count(measurement.station).desc()).all()                                                                                         
activestations

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

func.mid
func.max
func.min

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram